{% extends 'base.html' %} 
{% load static %}
{% block content %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="{% static 'app_gestion/css/style_cafe.css' %}"
    />
  </head>
  <body>
  <div class="form_tabla">
    <div class="tabla">
      <table class="table table-bordered border-primary" id="infor">
        <thead>
          <tr>
            <th scope="col">Empleado</th>
            <th scope="col">Kilos</th>
            <th scope="col">Tipo Registro</th>
            <th scope="col">Fecha</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody id="tablaBody">
          {% for list in listarecoleccion %}
          <tr>
            <td>{{list.id_empleado}}</td>
            <td>{{list.peso}}</td>
            <td>{{list.id_tipo_registro}}</td>
            <td>{{list.fecha}}</td>
            <td>{{list.id_cafe}}<button class="btn btn-warning btnEditar" data-id_cafe="{{ id_cafe }}">Editar</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitulo">
              Nuevo registro
            </h5>
            <button type="button" class="close" data-dismiss="modal" data-bs-target="#exampleModal" aria-label="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Empleado</th>
                  <th>kilos</th>
                  <th>Tipo Registro</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <form
                    action="{% url 'agregaregistrocafe' %}"
                    id="formulario"
                    method="post"
                  >
                    {% csrf_token %}
                    <td>
                      <select
                        name="id_empleado"
                        id="empleado_select"
                        class="form-control"
                        data-url="{% url 'obtenerempleado' %}"
                        onchange="asignarIdempleado()"
                      >
                        <option value="">Asignar Empleado</option>
                      </select>
                      <input type="hidden" id="empleado" name="empleado" />
                    </td>

                    <td>
                      <input
                        type="text"
                        class="form-control"
                        name="peso"
                        id="peso"
                      />
                    </td>
                    <td>
                      <select
                        name="id_tipo_registro"
                        id="tipo_select"
                        class="form-control"
                        data-url="{% url 'obtenertiporegistro' %}"
                        onchange="asignarIdtiporegistro()"
                      >
                        <option value="">Asignar tipo registro</option>
                      </select>
                      <input
                        type="hidden"
                        name="tipo_registro"
                        id="tipo_registro"
                      />
                    </td>
                    <td>
                      <input
                        type="date"
                        class="form-control"
                        name="fecha"
                        id="fecha"
                      />
                    </td>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      id="btnAgregar"
                    >
                      Agregar
                    </button>
                  </form>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="herramientas">
      <div class="opciones">
        <i title="Agregar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="img"
            id="agregar"
            viewBox="0 0 16 16"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <path
              fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1
                     0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
            />
          </svg>
        </i>

        <i title="Editar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="img"
            viewBox="0 0 16 16"
            id="btnEditar"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
          >
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0
                   0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5
                    0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5
                     1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"
            />
          </svg>
        </i>

        <i title="Eliminar">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="img"
            viewBox="0 0 16 16"
            id="btnEliminar"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
          >
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 
                  0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8
                   5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
            />
          </svg>
        </i>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="../../static/app_gestion/js/obteneregistros.js"></script>
    <script src="../../static/app_gestion/js/funccioncrud.js"></script>
  </body>
</html>
{% endblock %}
