{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <style>
      .error-message {
        color: red;
        font-size: 0.9em;
        margin-top: 5px;
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="gestion_tbla">
      <div class="opciones">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" 
        data-bs-target="#exampleModal" data-bs-whatever="@mdo">Agregar</button>
        </form>
        <a href="{% url 'reporte_cafe' %}" class="btn btn-primary" role="button">
          Descargar PDF
        </a>
      </div>

      <div class="table-container">
        <div class="scrollable-table">
          <table>
            <thead>
              <tr>
                <th>Empleado</th>
                <th>Kilos</th>
                <th>Tipo Registro</th>
                <th>Fecha</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for list in listarecoleccion %}
              <tr class="lista">
                <td>{{ list.id_empleado }}</td>
                <td>{{ list.peso }}</td>
                <td>{{ list.id_tipo_registro }}</td>
                <td>{{ list.fecha|date:"y/m/d" }}</td>
                <td>
                  <a href="{% url 'editarcafe' list.id_cafe %}">
                    <button type="button" class="btn btn-info">Actualizar</button>
                  </a>
                  <a href="javascript:void(0)" onclick="confirmarEliminacion('{{ list.id_cafe}}')">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                  </a>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal -->       
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo registro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="{% url 'agregaregistrocafe' %}" method="post" id="formulario">
              {% csrf_token %}
              <div class="mb-3">
                <label for="empleado_select" class="col-form-label">Empleado:</label>
                <select
                  name="id_empleado"
                  id="empleado_select"
                  class="form-control"
                  data-url="{% url 'obtenerempleado' %}"
                  onchange="asignarIdempleado()"
                >
                  <option value="">Asignar Empleado</option>
                </select>
                <input type="hidden" id="empleado" name="empleado" />
                <div class="error-message"></div>
              </div>

              <div class="mb-3">
                <label for="peso" class="col-form-label">Kilos:</label>
                <input
                  type="text"
                  class="form-control"
                  name="peso"
                  id="peso"
                />
                <div class="error-message"></div>
              </div>

              <div class="mb-3">
                <label for="tipo_select" class="col-form-label">Tipo Registro:</label>
                <select
                  name="id_tipo_registro"
                  id="tipo_select"
                  class="form-control"
                  data-url="{% url 'obtenertiporegistro' %}"
                  onchange="asignarIdtiporegistro()"
                >
                  <option value="">Asignar tipo registro</option>
                </select>
                <input type="hidden" name="tipo_registro" id="tipo_registro" />
                <div class="error-message"></div>
              </div>

              <div class="mb-3">
                <label for="fecha" class="col-form-label">Fecha:</label>
                <input
                  type="date"
                  class="form-control"
                  name="fecha"
                  id="fecha"
                />
                <div class="error-message"></div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Agregar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/obteneregistros.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script>
            function confirmarEliminacion(id_cafe) {
        Swal.fire({
          title: '¿Estás seguro?',
          text: '¿Seguro que deseas eliminar el registro?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Sí, eliminar',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            var url = "{% url 'delete' 123 %}".replace("123", id_cafe);
            window.location.href = url;
          }
        });
      }
      
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('formulario');
        const inputs = form.querySelectorAll('input, select');

        inputs.forEach(input => {
          input.addEventListener('focus', validateField);  // Validar al hacer foco en el campo
          input.addEventListener('blur', validateField);   // Validar al quitar foco del campo
        });

        form.addEventListener('submit', function(event) {
          let valid = true;
          inputs.forEach(input => {
            if (!validateField({ target: input })) {
              valid = false;
            }
          });
          if (!valid) {
            event.preventDefault();
          }
        });
      });

      function validateField(event) {
        const field = event.target;
        const errorMessage = field.parentElement.querySelector('.error-message');
        
        let valid = true;
        let message = '';

        if (field.name === 'id_empleado' || field.name === 'id_tipo_registro') {
          if (!field.value) {
            valid = false;
            message = 'Campo requerido';
          }
        } else if (field.name === 'peso') {
          if (!field.value.match(/^\d+(\.\d{1,2})?$/)) {
            valid = false;
            message = 'Debe ser un número válido';
          }
        } else if (field.name === 'fecha') {
          if (!field.value) {
            valid = false;
            message = 'Fecha requerida';
          }
        }

        if (!valid) {
          errorMessage.textContent = message;
          errorMessage.style.display = 'block';
        } else {
          errorMessage.style.display = 'none';
        }

        return valid;
      }
    </script>
  </body>
</html>

{% endblock %}


