{% load static %}

<form action="" method="post" id="form_newuser" class="needs-validated" novalidate>
    {% csrf_token %}

    <div class="grup_roles">
        <label for="opcionrol" class="rol">Rol</label>
        <select name="roles" id="opcionrol" class="form-select" >
          <option value="Seleccionar">Seleccionar</option>
          <option value="Administrador">Administrador</option>
          <option value="Encargado">Encargado</option>
        </select>
      </div>

    <div class="cuadro_registro">
      <div id="grup_usuario">
        <label for="user" class="form-label">Usuario</label>
        <input type="text" name="usuario" class="form-control" id="user">
        <span id="usuario_error" class="mensaje_error"></span>
        <span id="usuario_valido" class="valido"></span>
      </div>

      <div class="grup_correo">
        <label for="gmail" class="form-label">Correo Eletronico</label>
        <input type="email" name="correo" class="form-control" id="gmail">
        <span id="correo_error" class="mensaje_error"></span>
        <span id="correo_valido" class="valido"></span>
      </div>

      <div class="grup_password">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="contrasena" class="form-control" id="password">
        <span id="password_error" class="mensaje_error"></span>
        <span id="password_valido" class="valido"></span>
      </div>

      <div class="confi_password">
        <label for="confipassword" class="form-label">Confirmar Contraseña</label>
        <input type="password" name="contrasena2" class="form-control" id="confipassword">
        <span id="password2_error" class="mensaje_error"></span>
        <span id="password2_valido" class="valido"></span>
      </div>
    </div>
    
    <div class="form-check">
      <input type="checkbox" name="Terminos_condiciones" id="ter_con" required/>
      <label for="ter_con" class="term">Acepta los Terminos y Condiciones</label>
      <span id="ter_con_error" class="mensaje_error"></span>
    </div>

    <div class="botones">
      <div class="btn_cancelar">
        <a href="{% url 'login' %}" class="btn btn-primary" 
        role="button" id="btn_cancel">Cancelar</a>
      </div>

      <div class="btn_registrar">
        <a href="#"><button type="submit" class="btn btn-primary" id="btn_register"
          data-bs-toggle="modal" data-bs-target="#Modalpermisos">Registrar</button></a>
      </div>
    </div>
  </form>
  <script src="{% static 'aplicacion/js/validate.js' %}"></script>
