{% extends 'base_contra.html' %}

{% block title %}Enviar correo de restablecimiento{% endblock %}

{% block content %}
  <div class="form-container">
    <form id="reset-form" method="post">
      {% csrf_token %}
      <h1><strong>RESTABLECIMIENTO</strong></h1> <!-- Título dentro del formulario -->
      <p class="mensaje">Te enviaremos un mensaje a tu cuenta de gmail vinculada.</p>

      {{ form.as_p }}
      <button type="submit" class="btn btn-custom">Enviar correo</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.getElementById('reset-form').onsubmit = function(event) {
      event.preventDefault();
      
      var form = document.getElementById('reset-form');
      var formData = new FormData(form);

      fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: data.error
          });
        } else if (data.success) {
          Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: 'Te hemos enviado un mensaje a tu correo electrónico.',
            confirmButtonText: 'Aceptar'
          }).then(() => {
            window.location.href = "{% url 'login' %}"; // Redirige al login después de mostrar el éxito
          });
        }
      })
      .catch(error => {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'Tu correo no esta registrado en la base de datos.'
        });
      });
    };
  </script>
  </script>

  <style>
    .btn-custom {
      background: linear-gradient(20deg, #0d2f17, rgb(69, 121, 80), #0d2f17);
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
    }

    .btn-custom:hover {
      background-color: #4a6138;
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }

    form {
      background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semitransparente */
      padding: 50px;
      border-radius: 10px;
      color: #ffffff;
      width: 400px; /* Agranda el ancho del formulario */
      text-align: center;
      box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.7); /* Difuminado interno blanco */
      backdrop-filter: blur(15px); /* Efecto de desenfoque en el fondo del contenido */
    }

    h1 {
      color: #ffffff;
      margin-bottom: 40px;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .mensaje {
      font-size: 20px;
      color: #0d2f17;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
    }
  </style>
{% endblock %}

