{% extends 'base_contra.html' %}

{% block title %}Restablecer contraseña{% endblock %}

{% block content %}
  <div class="form-container">
    <form id="reset-password-form" method="post">
      {% csrf_token %}
      <input type="hidden" name="uid" value="{{ id_usuario }}">
      <input type="hidden" name="token" value="{{ token }}">
      <h1><strong>Restablecer Contraseña</strong></h1>
      <div class="form-group">
        <label for="password">Nueva contraseña:</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirmar contraseña:</label>
        <input type="password" name="confirm_password" id="confirm_password" required>
      </div>
      <button type="submit" class="btn btn-custom">Restablecer contraseña</button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.getElementById('reset-password-form').onsubmit = function(event) {
      event.preventDefault();
  
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('confirm_password').value;
  
      if (password !== confirmPassword) {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'Las contraseñas no coinciden.'
        });
        return;
      }
  
      var form = document.getElementById('reset-password-form');
      var formData = new FormData(form);
  
      fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
      })
      .then(response => {
        if (response.redirected) {
          // Redirección detectada
          Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: 'Restablecimiento exitoso.',
            confirmButtonText: 'Aceptar'
          }).then(() => {
            window.location.href = response.url; // Redirige al login después de la confirmación
          });
        } else {
          return response.text(); // Procesa la respuesta si no hay redirección
        }
      })
      .then(data => {
        if (data && data.includes('Error')) {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Hubo un problema al restablecer la contraseña.'
          });
        }
      })
      .catch(error => {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'Hubo un problema al restablecer la contraseña.'
        });
      });
    };
  </script>
  
  
  

  <style>
    .btn-custom {
      background: linear-gradient(20deg, #0d2f17, rgb(69, 121, 80), #0d2f17);
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 15px; /* Espacio entre el campo y el botón */
    }

    .btn-custom:hover {
      background-color: #4a6138;
    }

    h1 {
      color: #ffffff;
      margin-bottom: 20px;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }

    form {
      background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semitransparente */
      padding: 50px;
      border-radius: 10px;
      color: #ffffff;
      width: 400px; /* Agranda el ancho del formulario */
      text-align: center;
      box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.7); /* Difuminado interno blanco */
      backdrop-filter: blur(15px); /* Efecto de desenfoque en el fondo del contenido */
    }

    .alert {
      text-align: center;
      color: rgb(164, 36, 36);
    }
  </style>
{% endblock %}
