{% extends 'base.html' %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
  </head>
  <body>
    <div class="gestion_tbla">
      <div class="opciones">
        <a href="{% url 'inventario' %}"><button type="button" class="btn btn-secondary">Regresar</button></a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
        data-bs-target="#edicionModal" data-id="1">Confirmar Edición</button>
      </div>

      <div class="table-container">
        <div class="scrollable-table">
          <table>
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Medida</th>
                <th>Tipo Registro</th>
                <th>Fecha</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              {% for liststostock in stocklist %}
              <tr class="lista">
                <td>{{liststostock.id_producto}}</td>
                <td>{{liststostock.cantidad}}</td>
                <td>{{liststostock.unidad_medida}}</td>
                <td>{{liststostock.id_tipo_registro}}</td>
                <td>{{liststostock.fecha}}</td>
                <td>
                  <a href="{% url 'editarstock' liststostock.id_stockinven %}">
                    <button type="button" class="btn btn-primary">Editar</button>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

                           <!-- Modal de edision -->
    <div class="modal fade" id="edicionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          </div>
            <div class="modal-body">
              <form id="formulario" method="post">
                {% csrf_token %}
                {{data.form}}
                

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/obtenedatos.js"></script>
  </body>
</html>
{% endblock %}