div.cabezera{
    background: #5a7346;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 20vh;
}

div.usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 20px;
}

img#user_img{
    width: 50px;
}

img.img_logo{
    width: 150px;
    margin-right: 200px;
}

div.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #5a7346;
    width: 25vw;
    font-size: 25px;
        
  }

nav ul a {
    color: black;
    text-decoration-line: none;
    margin: 0px 50px 0px 0px;  
  }

nav ul a h3{
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    height: 72vh;
}


div.contenido{
    background: #f5ffef;
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

div.buscador{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 70vw;
    padding: 10px;
    gap: 10px;
}

div.fechas{
    display: flex;
    gap: 5px;
}
h3.texto{
    margin-bottom: 10px;
}

div.content_canbiante{
    display: flex;
    width: 60vw;
    height: 55vh;
    align-items: center;
    justify-content: center;

}

footer{
    background: rgba(0, 0, 0, 0.973);
    padding: 5px;
    height: 8vh;
  }

img.red_social{
    width: 40px;
    margin-left: 5px;
  }


